{extend name="HomePublic:public"}
{block name="title"}优韵宝医疗服务中心--名医专家团队，为您提供贴心、专业试管婴儿医疗服务--优孕宝官网{/block}
{block name="home"}

<div id="Navigation"> 
   <ul class="clearfix"> 
    <li class="ona"><a class="X1" href="/">网站首页</a></li> 
    <li><a class="X1" href="about.html">走进优韵宝</a></li> 
    <li> <a class="X1" href="Process.html">赴柬埔寨生子</a> 
     <div class="a-hover"> 
      <a class="X2" href="Process.html">赴柬生子流程</a> 
      <a class="X2" href="Service.html">赴柬生子服务</a> 
     </div> </li> 
    <li> <a class="X1" href="Special_87.html">试管婴儿</a> 
     <div class="a-hover"> 
      <a class="X2" href="Special_87.html">试管婴儿技术</a> 
      <a class="X2" href="Special_88.html">试管婴儿过程</a> 
      <a class="X2" href="Special_89.html">试管婴儿技术检查项目</a> 
      <a class="X2" href="Special_90.html">王子公主定制</a> 
      <a class="X2" href="Special_91.html">冷冻卵子/精子/胚胎</a> 
     </div> </li> 
    <li><a class="X1" href="combo.html">试管套餐</a></li> 
    <li><a class="X1" href="case.html">真实案例</a></li> 
    <li><a class="X1" href="contact.html">联系我们</a></li> 
   </ul> 
  </div> 
  <script>
    var Top = $("#Navigation").offset().top;
</script> 
  <!--轮播图--> 
  <style>

.Img1{
  background: url(/static/home/images/20170622110334607.jpg);
  /*IE7*/
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
  src='/static/home/uploadfile/data/20170622110334607.jpg',
  sizingMethod='scale');
}

    
</style> 
  <div class="swiper-container Swiper1"> 
   <div class="swiper-wrapper"> 
    <div class="swiper-slide">
     <a class="Img Img1" href="" style="margin-left: 250px"></a>
    </div> 
   </div> 
   <div class="swiper-pagination"></div> 
   <!-- 如果需要导航按钮 --> 
   <img class="swiper-button-prev" src="/static/home/picture/banner-left.png" alt="" /> 
   <img class="swiper-button-next" src="/static/home/picture/banner-right.png" alt="" /> 
  </div> 
  <script>
  $(function(){
    var mySwiper = $('.swiper-container').swiper({
      loop: true,
            //其他设置
            autoplay: 3000,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            leftBtn: 'swiper-button-prev',
            rightBtn: 'swiper-button-next',
            simulateTouch: false
        });
        $('.swiper-button-prev').on('click', function(e){
            e.preventDefault();
            mySwiper.swipePrev();
        });
        $('.swiper-button-next').on('click', function(e){
            e.preventDefault();
            mySwiper.swipeNext();
        });
  })
</script> 
  <!-- 免费获取试管方案 --> 
 <!--  <div class="Search-Box" style="background-image: url(images/fa-bg.png)"> 
   <div class="Search"> 
    <h3>免费获取试管方案</h3> 
    <h4>FREE ACCESS TO THE TEST TUBE PROGRAM</h4> 
    <form name="Search" method="post" action=""> 
     <input type="text" class="Search-text" placeholder="姓名：" /> 
     <input type="text" class="Search-text" placeholder="年龄：" /> 
     <input type="text" class="Search-text" placeholder="联系方式：" /> 
     <input class="Search-text" type="text" placeholder="不孕不育原因：" /> 
     <input type="submit" class="Search-bt" value="提交" /> 
    </form> 
   </div> 
  </div>  -->
  <!-- 胚胎植入前基因诊断视频介绍 --> 
  <div class="Ptzr-Box"> 
   <div class="Ptzr"> 
    <div class="Nav-1"> 
     <h3>什么是胚胎植入前基因诊断————</h3> 
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在一个普通的体外受精与胞质内单精子注射（ICSI）周期中，胚胎学家根据对胚胎在发育过程中的目力观测来选取植入子宫的（一个或多个）胚胎。培爱植入前基因诊断（PGD）则让科学家的选择提供了另外一个依据，那就是对胚胎的详细基因检测，凡是有明显基因异常的胚胎都会被筛除。</p> 
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例如，当两个贝塔地中海贫血携带者欲孕育后代，后代患贝塔地中海贫血的几率是25%，携带者后代的几率是50%，健康后代的几率是25%。有PGD配合的ICSI可以让夫妇获得或干个胚胎，但最终只会植入健康的胚胎或携带者胚胎。</p> 
     <!-- <a href="#" style="color: blue"></a> -->
     <a href="#" type="button" class="btn btn-lg btn-primary">查看详情</a>
    </div> 
    <div class="Nav-2"> 
     <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" controls="" preload="auto" width="1280" height="800" poster="/static/home/images/BaoBao-2.jpg" data-setup="{}"> 
      <h3 style="color:#f21212;">安全提醒：您好，由于您的浏览器版本过旧，导致视频无法播放，请更换浏览器浏览（360浏览器用户请切换到极速模式浏览）</h3> 
      <img src="/static/home/picture/jg.png" alt="" style="width: 100%;" /> 
      <source src="http://cdn2.youyunbb.com/%E7%88%B1%E5%89%AA%E8%BE%91-%E4%B8%8D%E5%AD%95%E7%97%87%E4%B8%93%E9%A2%98%E8%AE%B2%E5%BA%A7%20%E7%AC%AC%E4%B8%80%E8%AE%B2.mp4" type="video/mp4"></source> 
      <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />--> 
      <track kind="captions" src="video/jq22-sp.vtt" srclang="en" label="English"></track>
      <!-- Tracks need an ending tag thanks to IE9 --> 
      <track kind="subtitles" src="video/jq22-sp.vtt" srclang="en" label="English"></track>
      <!-- Tracks need an ending tag thanks to IE9 --> 
     </video> 
    </div> 
   </div> 
  </div> 
  <!-- 我们能为你做什么 --> 
  <div class="Wt-Box"> 
   <div class="Wt clearfix"> 
    <h3 class="text-center">我们能为你做什么</h3> 
    <h4 class="text-center">WHAT CAN WE DO FOR YOU</h4> 
    <div class="Nav clearfix"> 
     <div class="Title clearfix"> 
      <img class="ico" src="/static/home/picture/wt-ico-1.png" alt="" /> 
      <h5>择优而生，基因筛查确保孩子健康</h5> 
      <img class="Xing" src="/static/home/picture/wt-xin.png" alt="" /> 
     </div> 
     <div class="Nav-2">
       第三代试管婴儿技术是全球领先的试管婴儿技术，它是在胚胎植入前进行基因诊断（PGD）和在胚胎着床前进行遗传筛选(PGS)，来避免基因缺陷和遗传病的发生，达到优生优育的目的。 
     </div> 
    </div> 
    <div class="Nav clearfix"> 
     <div class="Title clearfix"> 
      <img class="ico" src="/static/home/picture/wt-ico-2.png" alt="" /> 
      <h5>生男生女随你所愿</h5> 
      <img class="Xing" src="/static/home/picture/wt-xin.png" alt="" /> 
     </div> 
     <div class="Nav-2">
       柬埔寨是世界上少数可以筛选胚胎性别的国家之一，优韵宝国际生殖医疗中心是世界上最早开展胚胎植入前遗传学诊断与筛查的机构之一，因此对于一心想要生男或生女或龙凤胎的家庭来说，优韵宝是首选。 
     </div> 
    </div> 
    <div class="Nav clearfix"> 
     <div class="Title clearfix"> 
      <img class="ico" src="/static/home/picture/wt-ico-3.png" alt="" /> 
      <h5>全球最优秀精子、卵子可供选择</h5> 
      <img class="Xing" src="/static/home/picture/wt-xin.png" alt="" /> 
     </div> 
     <div class="Nav-2">
       试管婴儿技术运用第三代PGD/PGS筛查技术，保障了被植入胚胎的质量度，利于胚胎着床、妊娠，大大提高了试管婴儿成功率。 
     </div> 
    </div> 
    <div class="Nav clearfix"> 
     <div class="Title clearfix"> 
      <img class="ico" src="/static/home/picture/wt-ico-4.png" alt="" /> 
      <h5>避免遗传疾病及反复流产</h5> 
      <img class="Xing" src="/static/home/picture/wt-xin.png" alt="" /> 
     </div> 
     <div class="Nav-2">
       可进行200余种植入前胚胎遗传疾病的检测，排除例如地中海贫血、小儿唐氏综合症、血友病、反复流产等染色体异常型疾病，确保优生优育。 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- 适应人群 --> 
  <div class="Syrq-Box" style="background-image: url(/static/home/images/syrq.png)"> 
   <div class="Syrq-Bg"> 
    <div class="Syrq"> 
     <div class="Nav-Box clearfix"> 
      <div class="Nav">
       不孕不育症
      </div> 
      <div class="Nav">
       子宫内膜薄
      </div> 
      <div class="Nav">
       卵巢功能差
      </div> 
      <div class="Nav">
       妇科肿瘤
      </div> 
      <div class="Nav">
       高龄产妇
      </div> 
      <div class="Nav">
       遗传疾病
      </div> 
      <div class="Nav">
       多次流产
      </div> 
      <div class="Nav">
       做过试管未成功
      </div> 
     </div> 
     <div class="Title"> 
      <h3>适应人群</h3> 
      <h4>ADAPT TO THE CROWD</h4> 
     </div> 
     <a class="button" href="http://pwt.zoosnet.net/LR/Chatpre.aspx?id=PWT31187391&amp;lng=cn" target="_blank">我要咨询</a> 
    </div> 
   </div> 
  </div> 
  <!-- 合作医院医生 --> 
  <div class="HosDoc-Box clearfix"> 
   <div class="HosDoc clearfix"> 
    <h3>合作医院医生</h3> 
    <h4>DOCTOR IN A COOPERATIVE HOSPITAL</h4> 
    <a href="team_show_5.html"> 
     <div class="Nav" style="background-image: url(/static/home/images/20170513145824792.jpg)"> 
      <span>葛明晓</span> 
     </div> </a> 
    <a href="team_show_6.html"> 
     <div class="Nav" style="background-image: url(/static/home/images/20170513145849817.jpg)"> 
      <span>顾正田</span> 
     </div> </a> 
    <a href="team_show_7.html"> 
     <div class="Nav" style="background-image: url(/static/home/images/20170513150723439.jpg)"> 
      <span>何耀娟</span> 
     </div> </a> 
    <a href="team_show_8.html"> 
     <div class="Nav" style="background-image: url(/static/home/images/20170513150932859.jpg)"> 
      <span>黄铮</span> 
     </div> </a> 
    <a href="team_show_9.html"> 
     <div class="Nav" style="background-image: url(/static/home/images/20170513151131636.jpg)"> 
      <span>黄子健</span> 
     </div> </a> 
    <a href="team_show_10.html"> 
     <div class="Nav" style="background-image: url(/static/home/images/20170513151434448.jpg)"> 
      <span>季冰</span> 
     </div> </a> 
    <a href="team_show_11.html"> 
     <div class="Nav" style="background-image: url(/static/home/images/20170513152042822.jpg)"> 
      <span>黎小斌</span> 
     </div> </a> 
    <a href="team_show_12.html"> 
     <div class="Nav" style="background-image: url(/static/home/images/20170613144950347.jpg)"> 
      <span>李琴</span> 
     </div> </a> 
   </div> 
  </div> 
  <!-- 真实案例 --> 
  <div class="Cases-Box clearfix"> 
   <div class="Cases clearfix"> 
    <h3>真实案例</h3> 
    <h4>REAL CASE</h4> 
    <div class="Nav clearfix"> 
     <div class="Tx"> 
      <a href="case_show_14.html"><img src="/static/home/picture/20181115154018309.jpg" alt="" /></a> 
     </div> 
     <div class="Nav-2"> 
      <h3 class="title"> <a href="case_show_14.html">输卵管上举四年不......</a> <a href="case.html" class="more">更多</a> </h3> 
      <img class="Xin" src="/static/home/picture/wt-xin.png" alt="" /> 
      <div class="Ms"> 
       <a href="case_show_14.html">第一次移植两个，只有一个发育成囊胚，医生当时就说成功率可能较低。结果没想到一次就成功了，当时也是抱着不成功便成仁的想法，心情放松了，反而成功了。</a> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <nav class="indexgt"> 
   <div class="indjz"> 
    <div class="indnews"> 
     <h5> <a href="news.html">查看更多 +</a> 新闻资讯 <span>News Information</span> </h5> 
     <ul> 
      <li> <a href="news_show_142.html"> <img src="/static/home/picture/indnewsico.jpg" />全球首例！接受捐赠子宫移植妈妈通过试管婴儿成功诞下...... <span>2018-12-6</span> </a> </li> 
      <li> <a href="news_show_141.html"> <img src="/static/home/picture/indnewsico.jpg" />试管婴儿三胞胎的父母都哭了，试管婴儿要注意什么？ <span>2018-12-4</span> </a> </li> 
      <li> <a href="news_show_140.html"> <img src="/static/home/picture/indnewsico.jpg" />上海女性晚婚晚育比例大幅提高,试管婴儿是未来发展趋势...... <span>2018-11-28</span> </a> </li> 
      <li> <a href="news_show_139.html"> <img src="/static/home/picture/indnewsico.jpg" />首例免疫艾滋病的试管婴儿已诞生 <span>2018-11-26</span> </a> </li> 
      <li> <a href="news_show_138.html"> <img src="/static/home/picture/indnewsico.jpg" />优韵宝2018中柬海外生殖技术交流会议即将举行 <span>2018-11-24</span> </a> </li> 
     </ul> 
    </div> 
    <div class="indnews" style="float:right;"> 
     <h5> <a href="papc.html">查看更多 +</a> 优孕知识 <span>Pregnancy Information</span> </h5> 
     <ul> 
      <li> <a href="papc_show_294.html"> <img src="/static/home/picture/indnewsico.jpg" />【多图】不孕不育越来越多见了 <span>2018-12-14</span> </a> </li> 
      <li> <a href="papc_show_293.html"> <img src="/static/home/picture/indnewsico.jpg" />不孕不育的五大常见原因 <span>2018-12-14</span> </a> </li> 
      <li> <a href="papc_show_292.html"> <img src="/static/home/picture/indnewsico.jpg" />中医治疗不孕不育偏方 <span>2018-12-7</span> </a> </li> 
      <li> <a href="papc_show_291.html"> <img src="/static/home/picture/indnewsico.jpg" />试管婴儿不能刷医保卡，如何降低费用？ <span>2018-12-5</span> </a> </li> 
      <li> <a href="papc_show_290.html"> <img src="/static/home/picture/indnewsico.jpg" />ABO溶血？O型血会给胎宝宝带来什么影响 <span>2018-12-4</span> </a> </li> 
     </ul> 
    </div> 
   </div> 
   <div class="clear"></div> 
  </nav> 
  <div class="clear"></div> 
  <!--底部图标--> 
  <div class="inban"> 
   <div class="indjz"> 
    <img src="/static/home/picture/inbgico.png" /> 
   </div> 
  </div> 
{/block}
